/*** footer.html ***/

.mw-footer {
  margin-top: 25px;
  padding: 15px;
}

.mw-footer
h4 {
  margin: 0px;
}

.mw-footer-text {
  color: rgb(153, 153, 153); 
}

h2.mw-footer-text {
  margin-top: 10px;
}
