.nav, .pagination, .carousel a { cursor: pointer; }

* { margin: 0; padding: 0; }

p {
  font-family: 'Sintony', sans-serif;
}

h1 {
  font-family: 'aaarghnormal';
}

h2 {
  font-family: 'colaborate-thinregular';
}

.container {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  border-left-color: rgb(238, 238, 238);
  border-left-style: solid;
  border-left-width: 2px;
  border-right-color: rgb(238, 238, 238);
  border-right-style: solid;
  border-right-width: 2px;
  border-top-color: rgb(238, 238, 238);
  border-top-left-radius: 4.796875px;
  border-top-right-radius: 4.796875px;
  border-top-style: solid;
  border-top-width: 2px;
  box-shadow: rgb(204, 204, 204) 1px 2px 4px 0px;
}

.navigation-bar {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
  

.wsj {
  background-image: url('img/wsj4.png');
}

.centered {
  text-align: center;
}

.text-left {
  text-align: left;
}

.margin-auto {
  margin-right: auto;
  margin-left: auto;
}

.black-text {
  color: black;
}

.two-line {
  max-width: 270px;
  margin-right: auto;
  margin-left: auto;
}

.claims {
  margin-left: 15%;
  margin-right: 15%;
}

.curriculum {
  background-image: url('img/navy_blue.png');
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  color: white;
}

@media (min-width: 690px) {
  .curriculum
  .title {
    font-size: 63px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 689px) {
  .curriculum
  .title {
    font-size: 35px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.curriculum
.explanation {
  margin: 25px;
}

.curriculum
.row
img {
  height: 110px;
  width: 110px;
}

@media (min-width: 320px) {
  .tiles {
    margin-bottom: 10px;
    float: left;
    width: 50%;
  }
}

@media (min-width: 690px) {
  .tiles {
    margin-bottom: 10px;
    float: left;
    width: 25%;
  }
}

.mw-small-text {
  font-size: 10px;
  margin: 0px;
}

/*** addNewsForm.html ***/

.add-news-form {
  padding: 15px;
}

.add-news-form
.title {
  margin-top: 5px;
}

@media (max-width: 689px) {
  #about-us
  h1 {
    margin-top: 40px;
    font-size: 36px;
  }
}

@media (min-width: 690px) {
  #about-us
  h1 {
    margin-top: 40px;
    font-size: 63px;
  }
}

#about-us
.row {
  margin-top: 50px;
  margin-bottom: 50px;
}

#about-us
.row
.story {
  padding-right: 10%;
  padding-left: 10%;
}

.about-us-short
{
  padding-top: 50px;
}

.about-us-img
{
  max-height: 153px;
}

@media (max-width: 991px) {
  .about-us-image-above {
    display: block;
  }

  .about-us-image-side {
    display: none;
  }
}

@media (min-width: 992px) {
  .about-us-image-above {
    display: none;
  }

  .about-us-image-side {
    display: block;
  }
}
