/*
/* newsfeed.html
/* newsfeedCms.html
*/

@media (max-width: 991px) {
  .newsfeed {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 992px) {
  .newsfeed {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.newsfeed-urls {
}

.add-to-newsfeed {
  margin: 20px 0 0 0;
  max-width: 25%;
}

.title {
  margin-top: 10px;
  max-width: 75%;
}

.article-saved-indicator {
  width: 50px;
  height: 50px;
  background-color: green;
}

.date-site {
  height: 30px;
}

.description {
}

.newsfeed-text-color {
  color: white;
}

.add-remove-article {
  text-align: right;
}
