<div id="about-us">
  <h1 class="centered">About Us</h1>
  <div class="row">
    <div class="col-md-6 story centered">The effectiveness of our curriculum comes from joining a professional ability to communicate in English with media/communication technologies such as Skype, Googledocs, and our website. The student can visit our website and review collection of news content we have uploaded daily. They can also visit the Calendar page to see what times are available for online tutoring and schedule a lesson at their convenience. </div>
    <div class="col-md-6 centered">
      <img src="http://images.apple.com/macbook-pro/images/overview_macbookpro_hero.png" alt="..." class="img-rounded">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 centered">
      <img src="http://images.apple.com/macbook-pro/images/overview_macbookpro_hero.png" alt="..." class="img-rounded">
    </div>
    <div class="col-md-6 story centered">The lessons are held through a collaborative workspace consisting of Skype, Googledocs, and the website. Communicating through Skype, the tutor and student can read news articles together, view news clips with transcripts provided, use the topics of the news to open up dialogue, and even share screens to provide technical instructions. Our business also uses googledocs.com to share resources such as grammar guides and study materials.</div>
  </div>
  <div class="row">
    <div class="col-md-6 story centered">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    <div class="col-md-6 centered">
      <img src="http://images.apple.com/macbook-pro/images/overview_macbookpro_hero.png" alt="..." class="img-rounded">
    </div>
  </div>
</div>
