<form class="add-news-form" role="form">
  <div class="form-group">
    <label class="title" for="title">Title</label>
    <input ng-model="addNewsForm.m.title" type="text" class="form-control" id="title">
    <label class="title" for="title">Image Url</label>
    <input ng-model="addNewsForm.m.imageUrl" type="text" class="form-control" id="title">
    <!--
    <label class="title" for="video-embed-code">Video Embed Code</label>
    <textarea ng-model="addNewsForm.m.videoEmbedCode" class="form-control" rows="3"></textarea>
    -->
    <label class="title" for="transcript">Transcript</label>
    <textarea ng-model="addNewsForm.m.transcript" class="form-control" rows="3"></textarea>
  </div>
  <a ng-click="addNews()" class="btn btn-primary btn-lg pull-right">Add News</a>
  <div class="clearfix"></div>
</form>
