<div class="jumbotron centered wsj">
  <h1>Welcome to MW Tutors</h1>
  <p>Practicing professional english through American journalism media<p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div> 
<div class="row">
  <div class="col-xs-6 col-md-4 centered">
    <h2>Practical and Informative</h2>
    <p class="claims">Each week, we gather real-time media from news channels across the globe.  These articles and clips serve as contemporary examples of proper grammar, word choice, and delivery while also providing topics that inspire smart, casual conversation.</p>
  </div>
  <div class="col-xs-6 col-md-4 centered">
    <h2>American-Educated Tutor</h2>
    <p class="claims">US Educated, American accent with professional experience in business management, export logistics, and college administration.</p>
  </div>
  <div class="col-xs-6 col-md-4 centered">
    <h2>Simple, Central Interface</h2>
    <p class="claims">Our website allows the student to schedule lessons, view the newsfeed, reference resources, and correspond with the tutor.</p>
  </div>
</div>
<div class="curriculum">
  <h1 class="title centered">Our Curriculum</h1>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2 centered">
      <img ng-src='styles/img/cnn.jpg' alt="CNN" class="img-rounded">
    </div>
    <div class="col-md-2">
      <img ng-src='styles/img/bbc-tile.jpg' alt="BBC" class="img-rounded">
    </div>
    <div class="col-md-2">
      <img ng-src='styles/img/nbc-news.jpg' alt="NBC news" class="img-rounded">
    </div>
    <div class="col-md-2">
      <img ng-src='styles/img/nyt-tile.jpg' alt="New York Times" class="img-rounded">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="explanation centered">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
