<div class="jumbotron centered wsj">
  <h1>Welcome to MW Tutors</h1>
  <h2>Practicing professional english through American journalism media<h2>
  <p><a class="btn btn-primary btn-lg" ng-click="gotoAboutUs()">Learn more</a></p>
</div> 
<div class="selling-points">
  <div class="row">
    <div class="col-xs-6 col-md-4 centered">
      <h2>Informative Content</h2>
      <p class="claims">Each week, we gather real-time media from news channels across the globe. These articles and clips serve as contemporary examples of proper grammar, word choice, and delivery while also providing topics that inspire smart, casual conversation.</p>
    </div>
    <div class="col-xs-6 col-md-4 centered">
      <h2>American Instructor</h2>
      <p class="claims">US educated, American accent with a professional personality. Background in business management including experience in international logistics, real estate development, hospitality, and college administration.</p>
    </div>
    <div class="col-xs-6 col-md-4 centered">
      <h2>Convenient Tutoring</h2>
      <p class="claims">Our website allows the student to schedule lessons, view the newsfeed, and conveniently reference resources. We use globally adopted technology like Skype and GoogleDocs to make it easy to connect the student with the tutor.</p>
    </div>
  </div>
  <div class="curriculum">
    <h1 class="title centered">Our Curriculum</h1>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2 centered">
        <img ng-src='styles/img/cnn.jpg' alt="CNN" class="img-rounded">
      </div>
      <div class="col-md-2">
        <img ng-src='styles/img/bbc-tile.jpg' alt="BBC" class="img-rounded">
      </div>
      <div class="col-md-2">
        <img ng-src='styles/img/nbc-news.jpg' alt="NBC news" class="img-rounded">
      </div>
      <div class="col-md-2">
        <img ng-src='styles/img/nyt-tile.jpg' alt="New York Times" class="img-rounded">
      </div>
      <div class="col-md-2"></div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p class="explanation centered">Our aim is to present current knowledge of the world’s cultural and economic trends to encourage our students to engage in intellectual, casual conversation.</p>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</div>
