<div class="jumbotron centered wsj">
  <h1>Welcome to MW Tutors</h1>
  <p>Teaching business english through American journalism media.<p>
  <p><a class="btn btn-primary btn-lg">Learn more</a></p>
</div> 
<div class="row">
  <div class="col-xs-6 col-md-4 centered">
    <h2>Current Content</h2>
    <p class="claims">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
  </div>
  <div class="col-xs-6 col-md-4 centered">
    <h2>Our Philosophy</h2>
    <p class="claims">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
  </div>
  <div class="col-xs-6 col-md-4 centered">
    <h2>Our Methods</h2>
    <p class="claims">"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
  </div>
</div>
<div class="curriculum">
  <h1 class="title centered">Our Curriculum</h1>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-2 centered">
      <img ng-src='styles/img/cnn.jpg' alt="CNN" class="img-rounded">
    </div>
    <div class="col-md-2">
      <img ng-src='styles/img/bbc-tile.jpg' alt="BBC" class="img-rounded">
    </div>
    <div class="col-md-2">
      <img ng-src='styles/img/nbc-news.jpg' alt="NBC news" class="img-rounded">
    </div>
    <div class="col-md-2">
      <img ng-src='styles/img/nyt-tile.jpg' alt="New York Times" class="img-rounded">
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p class="explanation centered">Each week, we gather real-time media from news channels across the globe.  These articles and clips serve as contemporary examples of proper grammar, word choice, and delivery while also providing topics that inspire smart, casual conversation.</p>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
