<navigation-bar></navigation-bar>
<div class="newsfeed">
  <h1>Newsfeed CMS</h1>
  <div class="feed-urls">
    <h2>You are subscribed to the following RSS Feeds</h2>
    <p ng-repeat="feedUrl in feedUrls">{{ feedUrl }}</p>
  </div>
  <div class="feeds" ng-repeat="feed in rssFeeds">
    <div class="article-container"
         ng-repeat="article in feed.articles"
         ng-class="{'row-even': $even }">
      <div class="title-date-container">
        <h3 class="title pull-left">{{ article.title | limitTitleCharacters }}</h3>
        <div class="pull-right">
          <p class="date">Date: {{ article.publishedDate }}</p>
          <p class="site">From: {{ feed.site }}</p>
        </div>
      </div>
      <div class="clearfix"></div>
      <p class="description">{{ article.content | cleanArticleContent }}</p>
    </div>
  </div>
</div>
<footer></footer>
