<navigation-bar></navigation-bar>
<div class="newsfeed centered">
  <h1>Newsfeed CMS</h1>
  <div class="feed-urls">
    <h2>You are subscribed to the following RSS Feeds</h2>
    <p ng-repeat="rssFeedUrl in rssFeedUrls">{{ rssFeedUrl }}</p>
  </div>
  <div class="panel-default text-left"
    ng-class="{ 'panel-primary': article.isSavedArticle }"
    ng-repeat="article in combinedRssFeed">
    <div class="panel-heading">
      <div class="pull-right add-to-newsfeed"
        ng-click="toggleArticle(article)">
        <p class="add-remove-article">{{ article.isSavedArticle | addRemoveArticle }}</p>
      </div>
      <h2 class="title"><a href="{{ article.link}}" target="_blank" ng-class="{ 'newsfeed-text-color': article.isSavedArticle }">{{ article.title | limitTitleCharacters }}</a></h2>
    </div>
    <div class="panel-body">
      <div class="date-site">
        <p class="pull-left clearfix">Date: {{ article.date }}</p>
        <p class="pull-right clearfix">From: {{ article.site }}</p>
      </div>
      <p>{{ article.content | cleanArticleContent }}</p>
    </div>
  </div>
</div>
<footer></footer>
