<navigation-bar></navigation-bar>
<div class="newsfeed">
  <h1 class="centered">Newsfeed</h1>
  <div class="article-container"
       ng-repeat="article in newsfeed"
       ng-class="{'row-even': $even }">
    <div class="title-date-container">
      <h3 class="title pull-left">{{ article.title | limitTitleCharacters }}</h3>
      <div class="pull-right">
        <p class="date">Date: {{ article.date }}</p>
        <p class="site">From: {{ article.site }}</p>
      </div>
    </div>
    <div class="clearfix"></div>
    <p class="description">{{ article.content | cleanArticleContent }}</p>
  </div>
</div>
<footer></footer>
