<navigation-bar></navigation-bar>
<div class="newsfeed">
  <h1 class="centered">Newsfeed</h1>
  <div class="panel-default text-left"
    ng-repeat="article in newsfeed">
    <div class="panel-heading">
      <h2 class="title"><a href="{{ article.link}}" target="_blank">{{ article.title | limitTitleCharacters }}</a></h2>
    </div>
    <div class="panel-body">
      <div class="date-site">
        <p class="pull-left clearfix">Date: {{ article.date }}</p>
        <p class="pull-right clearfix">From: {{ article.site }}</p>
      </div>
      <p>{{ article.content | cleanArticleContent }}</p>
    </div>
  </div>
</div>
<footer></footer>
